<%= render "navbar" %>
 
<div class="container">
    <table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">User</th>
        <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        <% @num = 1%>
        <% @posts.each do |p| %>
            <tr>
            <th scope="row"><%=@num%></th>
            <td><a href="/posts/show/<%=p.id%>"><%=p.title%></a></td>
            <td><%=p.user.username%></td>
            <td><%= time_ago_in_words(p.created_at)%> ago </td>
            </tr>
            <% @num += 1 %>
        <% end %>
    </tbody>
    </table>
    <a href="/posts/new"><button class="btn btn-secondary">글쓰기</button> </a>
</div>